@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(315deg, #c061cb 0%, #1c71d8 100%);
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
    margin: 0;
    padding: 0;
    display: flex;
}

.text-gradient {
    background: linear-gradient(to right, #42a6e3, #ff56f6);
    color: transparent;
    background-clip: text;
}

.main-title {
    display: flex;
    color: #ffe7fa;
    margin: 12px 0 50px 0;
    text-align: center;
    /* width: 90%; */
    align-self: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
}

.leaflet-container {
    width: 80%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #41ffff88;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.single-meteorite {
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: rgb(12, 12, 71);
    border-radius: 10px;
    margin: 15px;
}

.single-meteorite span {
    font-weight: normal;
}

.loading {
    color: #ffe7fa;
    font-size: 20px;
    font-weight: bold;
}

/* TABLE */

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 45px;
    width: 80%;
    text-align: center;
}

.table-title {
    color: #ffe7fa;
    margin: 30px 0 20px 0;
    text-align: center;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

table {
    border: none;
    background-color: #f9f9f961;
    border-width: 0px;
    border-spacing: 0;
}

.headings-row {
    background-color: #ffe7fa;
    position: sticky;
    top: 0;
    border: none;
}

.headings-row:hover {
    background-color: #ffe7fa;
    cursor: default;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
    padding-top: 14px;
}

tr:hover {
    background-color: #f9f9f973;
    cursor: pointer;
}

/* FOOTER */

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    color: whitesmoke;
}

/* SKELETON TABLE */

.skeleton-thead {
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 650px;
}

.skeleton-tr {
    width: 93%;
    display: flex;
}

.skeleton-th {
    width: 200px;
}

.skeleton-tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 650px;
}

.skeleton-tbody-tr {
    display: flex;
    align-self: center;
    width: 93%;
}
